!!!
html
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript')
      $(document).ready(function(){
      $('body').jKit();
      });
   
    style(type='text/css')
      body { padding-top: 10px; padding-bottom: 40px; }
      .sidebar-nav { padding: 9px 0; } 

  body
    div.container-narrow
      div.masthead
        ul.nav.nav-pills.pull-right
          li.active
            a(href='#') Home
          li
            a(href="#") About
          li
            a(href="#") Developer
        
        h3.muted New Zealand Tides
      hr

      div.jumbotron
        h1 Today's Tides... Today!
        p.lead Our aim is to quickly provide you with the day's tides for all major harbours or marine centres throughout New Zealand

      ul(data-jkit='[ticker]')
        li Ticker Text 1
        li Ticker Text 2
        li Ticker Text 3

      hr

      div.well.well-large
        div.row
          p.centre-text
            strong Select a port below to view tide information.
        div.row
          div.span3
            each port,i in ports
              if i < ports.length / 3
                li: a(href='/#{port}') #{humanPortName[i]}
          div.span3
            each port,i in ports
              if i > ports.length / 3 && i < (ports.length / 3) * 2
                li: a(href='/#{port}') #{humanPortName[i]}
          div.span3
            each port,i in ports
              if i > (ports.length / 3) * 2
                li: a(href='/#{port}') #{humanPortName[i]}

      hr

      footer
        p.pull-left &copy; New Zealand Tides
        p.pull-right Tide data provided from 
          a(href='http://www.linz.govt.nz/hydro/tidal-info/tide-tables') LINZ

    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jquery.jkit.1.1.15.min.js')