!!! 5
html(lang='en')
  head
    link(rel='stylesheet', href='http://css.ink.sapo.pt/v1/css/ink.css')
    link(rel='stylesheet', href='/stylesheets/mine.css')
    script(src='http://js.sapo.pt/Bundles/Ink-v1.js')

    body
      header#topbar
        .ink-container
          nav.ink-navigation.ink-collapsible
            ul.horizontal.menu.blue.flat
              li
                #tideLogo
                  i.icon-tint(style='color: #FFF')
                  strong Kiwi Tides
              li: a(href='./') Home
              li: a(href='#') About
              li: a(href='#') Developers
              li: a(href='#') Contact
        .hr
        .ink-container
          .ink-l80
            h1#title #{title}
            p#titleLead #{title}'s Tides for #{now}:
            p#titleLead #{fullTime}:
          .ink-l20.center
            i.icon-tint.icon-title

    .ink-container.ink-vspace
      h4 Todays tides are at:
    
      table.ink-table.ink-zebra
          thead
            tr
              th Tide
              th Time
              th Height
     
          tbody
            //- setup 1st tide 
            tr
              if tide1 == 'high'
                td High
              else
                td Low
              td #{tide1Time}  (#{tide1Human})
              td #{tide.tide1Height}

            //- Setup 2nd tide - opposite to 1st
            tr
              if tide1 == 'high'
                td Low
              else
                td High
              td #{tide2Time}  (#{tide2Human})
              td #{tide.tide2Height}

            //- setup 3rd tide 
            tr
              if tide1 == 'high'
                td High
              else
                td Low
              td #{tide3Time}  (#{tide3Human})
              td #{tide.tide3Height}
          
            if tide.tide4 != ''
              //- Setup 4th tide - opposite to 1st
              tr
                if tide1 == 'high'
                  td Low
                else
                  td High
                td #{tide4Time}  (#{tide4Human})
                td #{tide.tide4Height}

    footer#footer.ink-vspace
      .ink-container
        p.copyright
          | All rights reserved.
          | Kiwi Tides by James Mitchell

    script(src='http://js.sapo.pt/Bundles/Ink-v1.js')